/* 
author: Kotaro Abe
http://kotaroabe.com/ 
*/

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

::selection {
  background: #000;
}
::-moz-selection {
  background: #000;
}

.FrutigerLTStd-Bold {
	font-family: FrutigerLTStd-Bold;
}
.FrutigerLTStd-Light {
	font-family: FrutigerLTStd-Light;
}
.FrutigerLTStd-Black {
	font-family: FrutigerLTStd-Black;
}
.FrutigerLTStd-Roman {
	font-family: FrutigerLTStd-Roman;
}
.FrutigerLTStd-UltraBlack {
	font-family: FrutigerLTStd-UltraBlack;
}
html {
	font-size: 4.5vh;
	line-height: 3.95vh;
	letter-spacing: -0.3vh;
}
body {
	background-color: #fff;
	/*background-color: #F9C981;*/
	margin: 0% 0% 0% 0%;
	line-height: 0px;
	color: #000;
}
a {
	color: #aaa;
	text-decoration: none;
	line-height: 0px;
}
p {
	color: #000;
}
header {
	mix-blend-mode: luminosity;
	
	width: 100%;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	
	text-align: left;
	
	font-size: 10vw;
	line-height: 10.8vw;
	letter-spacing: -0.6vw;
	
/*
	font-size: 7.65vh;
	line-height: 6.75vh;
	letter-spacing: -0.54vh;
*/
	
	padding-top: 25vh;
	padding-left: 3vw;
	transition: all 0.4s ease;
	z-index: 1000;
}   
header span {
	letter-spacing: -0.27vw;
	
	color: #EF815E;
	background: transparent;
	margin-left: 5vh;
}     
header.sticky {
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1vw;
	
	text-align: center;
	font-size: 4.5vh;
	line-height: 3.95vh;
	letter-spacing: -0.3vh;
	
	padding-top: 1vw;
	padding-left: 1vw;
	transition: all 0.4s ease;
	
}
header.sticky span {
	letter-spacing: -0.09vw;
/*	color: #000000;*/
	color: #EF815E;
	background: transparent;
	margin-left: 2.25vh;
} 
#logo {
	text-align: left;
	font-family: FrutigerLTStd-Black, sans-serif;
	
}
#whitebackground {
	height: 100vh;
}
.yellowbackground {
	height: auto;
	width: 100vw;
	background: #fdec9f;
}
.parent {
	position: relative;
	height: auto;
	background-color: transparent;
}
.container {
	position: relative;
}
.headline {
/*	mix-blend-mode: difference;*/
	
	position: relative;
	overflow: hidden;
	width: 80vw;
	text-align: left;
	font-family: FrutigerLTStd-Bold, sans-serif;
	font-size: 6.75vh;
	line-height: 9vh;
	letter-spacing: -0.18vh;
	padding-left: 10vw;
	padding-right: 10vw;
	
	-webkit-column-count: 1; 
    -moz-column-count: 1;
    column-count: 1;
	
}
.text {
	position: relative;
	overflow: hidden;
	width: 80vw;
	text-align: left;
	font-family: eb-garamond, sans-serif;
	font-size: 4.5vh;
	line-height: 6vh;
	letter-spacing: 0.1vh;
	padding-left: 10vw;
	padding-right: 10vw;
	
	background: #000;
	color: #ddd;
}
.text a {
	color: #ddd;
	letter-spacing: -0.01vh;
}
.rotate {
	position: fixed;
    bottom: 1vw;
    right: 1vw;
    width: 7vw;
    height: 7vw;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
	
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.images {
	width: 100%;
	display: block;
	margin: 0 auto;
}
.imageScroll {
	width: 60%;
	right: 20%;
	display: block;
	margin: 0 auto;
	z-index: 1;
}
.space {
	height: 10vh;
}
/*
MEDIA QUERY
*/
@media only screen and (max-width : 640px) {

#whitebackground {
	height: 120vh;
}
	
header {
	font-size: 10.2vw;
	line-height: 9vw;
	letter-spacing: -0.72vw;
	
	padding-bottom: 1.2vw;
/*
	font-size: 10.2vw;
	line-height: 9vw;
	letter-spacing: -0.72vw;
	
	padding-bottom: 1.2vw;
*/
/*	color: #EF815E;*/
	background: #fff;
	border-bottom: none;
	
	padding-top: 1vw;
	padding-left: 1vw;
}   
header span {
	margin-left: 6vw;
	letter-spacing: -0.27vw;
} 

header.sticky {
	font-size: 10.2vw;
	line-height: 9vw;
	letter-spacing: -0.72vw;
	
	padding-bottom: 1.2vw;
/*	color: #EF815E;*/
	background: #fff;
	border-bottom: none;
	
	padding-top: 1vw;
	padding-left: 1vw;
}   
header.sticky span {
	color: #EF815E;
	margin-left: 6vw;
	letter-spacing: -0.27vw;
} 	
#whitebackground {
	height: 55vh;
}
.headline {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	}
.text {
	width: 90%;
	text-align: left;
	font-size: 3vh;
	line-height: 4vh;
	letter-spacing: 0.05vh;
	padding-left: 5%;
	padding-right: 5%;
	
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}	
	
}
